*{
margin: 0 auto;
padding:0;
width: 100%;
box-sizing: border-box;
}

 body{
  font-family: 'arial';
  font-weight: lighter;
  background:#DDD;
}


#container{
    width: 75%;
    max-width: 1170;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.game{
    border: 2px black solid;
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: brown;
    margin: 0 auto;
}

.game .row1, .game .row2, .game .row3, .game .row4{
width: 95%;
display: flex;
flex-direction: row;
margin: 0 auto;
border: 2px black solid;
}

